<div id="<%= dom_id student %>">
  <p>
    <strong>Reg:</strong>
    <%= student.reg %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Depart:</strong>
    <%= student.depart %>
  </p>

  <p>
    <strong>Option:</strong>
    <%= student.option %>
  </p>

</div>
